

<div class="container">
   <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
     <section class="main-header">
       <p class="flash"><%= notice %><%= alert %></p>
        <h4>仮置きトップページ</h4>
        <p>上にヘッダを配置する。この部分には後に投稿画像が来るようにする</p>
        <p>タイトル上にログイン時のノーティスが入るように設定（DIVE08,2017/4/14）</p>
     </section>
   </div>
</div>
