

<div class="container">
   <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
     <section class="main-header">
       <p class="flash"><%= notice %><%= alert %></p>
       <table>
         <tr>
           <td></td>
         </tr>
         <tr>
           <td><img src="<%= asset_path "tablebg.jpg" %>"</td>
         </tr>
       </table>
     </section>
   </div>
</div>
